
div {
    padding: px50 ;
    color: rgb(175, 190, 190);
    margin-top: 50px;
    
  }
  .imgMain{
    width: 100% ;
    height: 5%;
  
  }
  .subImg {
    width: 30%;
    margin-left: 10%;
    display: inline-block;
    border-radius: 50%;
  }
  
  #section {
    border-style: outset; 
  }
  .footer{
      height: 100px;
      background: rgb(228, 213, 195);
      margin-left: outo
  }
  
  header{
   padding:10px ;
      background: rgb(228, 213, 195);
      margin-left: 3px
  }
  #footer{
    padding: 10px;
    margin-left: outo
  }
  p{
    margin-left: 10%
  }
  
  h2{
    padding-left: 20px
  }
  
  
  button {
    transition-duration: 0.4s;
    background-color:antiquewhite;
    color: black;
    padding: 10px;
    margin-top: 10px;
    margin-left: 50%
  }
  
  button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  body{
    background-color:rgb(102, 107, 107) 
  }
  

 div {
  padding: px50 ;

  color: rgb(175, 190, 190);
  margin-top: 50px;
  

 

}
.imgMain{
  width: 100% ;

}
.subImg {
  width: 30%;

  margin-left: 10%;
  display: inline-block;
  border-radius: 50%;

}

#section {
  border-style: outset; 
}
.footer{
    height: 100px;

    background: rgb(228, 213, 195);
    margin-left: outo;

  

}

header{
 padding:10px ;
    background: rgb(228, 213, 195);
    margin-left: 3px
}
#footer{
  padding: 10px;
  margin-left: outo
}
p{
  margin-left: 10%
}

h2{
  padding-left: 20px
}


button {
  transition-duration: 0.4s;
  background-color:antiquewhite;
  color: black;
  padding: 10px;
  margin-top: 10px;
  margin-left: 50%
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
body{
  background-color:rgb(102, 107, 107) 
}

#footer{
  padding: 10px
}

.japaneseSection{
  display: block;


}
.italySection{
display: block;


}
.chineseSection{
display: block;

}
