 div {
  padding: px50 ;
<<<<<<< HEAD
  color: rgb(175, 190, 190);
  margin-top: 50px;
  
=======
  color: aqua;
>>>>>>> 2f2a219049cebf247bdb9490e6b9031fd1543d0a
}
.imgMain{
  width: 100% ;

}
.subImg {
  width: 30%;
<<<<<<< HEAD
  margin-left: 10%;
  display: inline-block;
  border-radius: 50%;
=======
  display: inline-block;
>>>>>>> 2f2a219049cebf247bdb9490e6b9031fd1543d0a
}

#section {
  border-style: outset; 
}
.footer{
    height: 100px;
<<<<<<< HEAD
    background: rgb(228, 213, 195);
    margin-left: outo
=======
    background: bisque;
>>>>>>> 2f2a219049cebf247bdb9490e6b9031fd1543d0a
}

header{
 padding:10px ;
<<<<<<< HEAD
    background: rgb(228, 213, 195);
    margin-left: 3px
}
#footer{
  padding: 10px;
  margin-left: outo
}
p{
  margin-left: 10%
}

h2{
  padding-left: 20px
}


button {
  transition-duration: 0.4s;
  background-color:antiquewhite;
  color: black;
  padding: 10px;
  margin-top: 10px;
  margin-left: 50%
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
body{
  background-color:rgb(102, 107, 107) 
}
=======
    background: bisque;
}
#footer{
  padding: 10px
}
>>>>>>> 2f2a219049cebf247bdb9490e6b9031fd1543d0a
